@using ProjektGlowny.Models
@model EventsModel
@{
    ViewBag.Title = "Dodaj Wydarzenie";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz dodać wydarzenie.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Wydarzenia</a></li>
    <li class="active">Dodaj</li>
</ol>

@using (Html.BeginForm("EventsAdd", "Events", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.title)
        @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.content)<br />
        @Html.TextAreaFor(m => m.content, new { style = "width: 70%; height: 250px;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.departmentsList)
        @Html.DropDownListFor(m => m.selectedDepartmentId, new SelectList(Model.departmentsList, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.date)<br/>
        @Html.TextBoxFor(m => m.date, new { @Value = DateTime.Now })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.notificationDate)<br />
        @Html.TextBoxFor(m => m.notificationDate, new { @Value = DateTime.Now })
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Zapisz dane</button>
    <button type="reset" class="btn btn-default btn-lg">Wyczyść</button>
}


<script>
    $(function () {
        $("#date").datetimepicker();
        $("#notificationDate").datetimepicker();
     });
</script>