@using ProjektGlowny.Models
@model MessagesModel
@{
    ViewBag.Title = "Usuń komunikat";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz usunąc komunikat.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Komunikaty</a></li>
    <li class="active">Usuń</li>
</ol>

@using (Html.BeginForm("MessagesDelete", "Messages", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Id)<br />
        @Html.DisplayFor(m => m.Id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.title)<br />
        @Html.DisplayFor(m => m.title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.content)<br />
        @Html.DisplayFor(m => m.content, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.departments)<br />
        @Html.DisplayFor(m => m.departments.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserId)<br />
        @Html.DisplayFor(m => m.UserId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.important)<br />
        @Html.DisplayFor(m => m.important, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Usuń</button>

}