@using ProjektGlowny.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<MessagesModel>


@{
    ViewBag.Title = "Wiadomości";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Lista komunikatów
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Komunikaty</a></li>
    <li class="active">Lista</li>
</ol>

<form class="navbar-form navbar-left">
    <button type="button" onclick="location.href = '/Messages/MessagesAdd'" class=" btn btn-success">
        <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj
    </button>

    @using (Html.BeginForm("Messages", "Messages", FormMethod.Get))
    {
          @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <button type="submit" class="btn btn-default">
                <i class="icon icon-data fa fa-search" aria-hidden="true"></i> Szukaj
            </button>
    }
</form>



<table class="table table-striped">
    <tr>
        <td>@Html.ActionLink("ID", "Messages", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>Tytuł</td>
        <td>Treść</td>
        <td>@Html.ActionLink("Wydział", "Messages", new { sortOrder = ViewBag.DepartmentSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("ID użytkownika", "Messages", new { sortOrder = ViewBag.UserIdSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>Czy ważne?</td>
        <td>Działania</td>
    </tr>
     
    @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Id)
            </td>
            <td>
                @Html.DisplayFor(m => item.title)
            </td>
            <td>
                @Html.DisplayFor(m => item.content)
            </td>
            <td>
                @Html.DisplayFor(m => item.departments.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(m => item.important)
            </td>
            <td>
             
                <a href="@Url.Action("MessagesEdit", "Messages", new { id = item.Id })" class="btn btn-default">
                    <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                    <span class="button-text">Edytuj</span>
                </a>        
                <br/>
                <a href="@Url.Action("MessagesDelete", "Messages", new { id = item.Id })" class="btn btn-danger">
                    <i class="icon icon-data fa fa-trash" aria-hidden="true"></i>
                    <span class="button-text">Usuń</span>
                </a>       
    </td>
        </tr>
    }

</table>

<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Messages",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))