@using ProjektGlowny.Models
@model LibrariesModel
@{
    ViewBag.Title = "Edycja biblioteki";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz zmienić dane biblioteki.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Blblioteki</a></li>
    <li class="active">Edycja</li>
</ol>

@using (Html.BeginForm("LibrariesEdit", "Libraries", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="form-group">
       @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Id)<br />
        @Html.DisplayFor(m => m.Id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)<br />
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)<br />
        @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OpeningHours)<br />
        @Html.TextAreaFor(m => m.OpeningHours, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdditionalInfo)<br />
        @Html.TextAreaFor(m => m.AdditionalInfo, new { @class = "form-control" })
    </div>
   
    <button type="submit" class="btn btn-primary btn-lg">Zmień</button>
}