@using ProjektGlowny.Models
@model Tuple<List<MessagesModel>,List<EventsModel>>  

@{
    ViewBag.Title = "Strona główna";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Witaj na stronie głownej systemu PWr Info&reg;. Z poziomu systemu możesz w łatwy sposób nim zarządzać.
</div>

<div>
   Najnowsze wiadomości
</div>
<table class="table table-striped">
    <tr>
        <td>ID </td>
        <td>Treść</td>
        <td>Wydział</td>

    </tr>
    @for (var i = 0; i < 3; i++)
    {
        <tr>
            <td>@Html.DisplayFor(turple => turple.Item1[i].Id)</td>
            <td>@Html.DisplayFor(turple => turple.Item1[i].content)</td>
            <td>@Html.DisplayFor(turple => turple.Item1[i].departments.Name)</td>
        </tr>
    }
</table>

 <div>
   Najnowsze wydarzenia
</div>
<table class="table table-striped">
    <tr>
        <td>ID </td>
        <td>Treść</td>
        <td>Wydział</td>
    </tr>
    @for (var i = 0; i < 3; i++)
    {
        <tr>
            <td>@Html.DisplayFor(turple => turple.Item2[i].Id)</td>
            <td>@Html.DisplayFor(turple => turple.Item2[i].content)</td>
            <td>@Html.DisplayFor(turple => turple.Item2[i].departments.Name)</td>
        </tr>
    }
</table>
