@using ProjektGlowny.Models
@model Tuple<List<MessagesModel>,List<EventsModel>>  

@{
    ViewBag.Title = "Strona główna";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Witaj na stronie głownej systemu PWr Info&reg;. Z poziomu systemu możesz w łatwy sposób nim zarządzać.
</div>

<ol class="breadcrumb">
    <li class="active"><a href="#">Home</a></li>
</ol>

<div>
   Najnowsze wiadomości
</div>
<table class="table table-striped">
    <tr>
        <td>ID </td>
        <td>Treść</td>
        <td>Wydział</td>
    </tr>
   @foreach(var item in Model.Item1.Take(3))
   {
        <tr>
            <td>@Html.DisplayFor(turple => item.Id)</td>
            <td>@Html.DisplayFor(turple => item.content)</td>
            <td>@Html.DisplayFor(turple => item.departments.Name)</td>
        </tr>
    }
</table>

 <div>
   Najnowsze wydarzenia
</div>
<table class="table table-striped">
    <tr>
        <td>ID </td>
        <td>Treść</td>
        <td>Wydział</td>
    </tr>
   @foreach (var item in Model.Item2.Take(3))
   {
        <tr>
            <td>@Html.DisplayFor(turple => item.Id)</td>
            <td>@Html.DisplayFor(turple => item.content)</td>
            <td>@Html.DisplayFor(turple => item.departments.Name)</td>
        </tr>
    }
</table>
