@using ProjektGlowny.Models
@model UserModels
@{
    ViewBag.Title = "Mój profil";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz zmienić swoje dane w systemie.
</div>



@using (Html.BeginForm("ChangePassword", "PWrInfo", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.name)<br/>
        @Html.TextBoxFor(m => m.name, new { @readonly = true })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.surname)<br />
        @Html.TextBoxFor(m => m.surname, new { @readonly = true })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Login)<br />
        @Html.TextBoxFor(m => m.Login, new { @readonly = true })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.unitName)<br />
        @Html.TextBoxFor(m => m.unitName, new { @readonly = true })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.isAdmin)<br />
        @Html.TextBoxFor(m => m.isAdmin, new { @readonly = true })
     </div>
    <div class="form-group">
        @Html.LabelFor(m => m.oldPassword)
        @Html.PasswordFor(m => m.oldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.repeatPassword)
        @Html.PasswordFor(m => m.repeatPassword, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Zmień hasło</button>
}
