@using ProjektGlowny.Models
@model IList<UserModels>  
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Lista użytkowników zarejestrowanych w systemie.
</div>


<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Użytkownicy</a></li>
    <li class="active">Lista</li>
</ol>

<form class="navbar-form navbar-left">
    <button type="button" class="btn btn-success" onclick="location.href='/PWrInfo/UsersAdd'">
        <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj

    </button>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Szukaj...">
    </div>
    <button type="submit" class="btn btn-default">
        <i class="icon icon-data fa fa-search" aria-hidden="true"></i> Szukaj
    </button>
</form>

<table class="table table-striped">
    <tr>
        <td>Imię </td>
        <td>Nazwisko</td>
        <td>Login</td>
        <td>Administrator</td>
        <td>Jednostka</td>

    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.name )</td>
            <td>@Html.DisplayFor(m => item.surname)</td>
            <td>@Html.DisplayFor(m => item.Login)</td>
            <td>@Html.DisplayFor(m => item.isAdmin)</td>
            <td>@Html.DisplayFor(m => item.unitName)</td>
        </tr>
  }
</table>