@using ProjektGlowny.Models
@model UserModels
@{
    ViewBag.Title = "Dodaj użytkownika";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz dodać użytkownika.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Użytkownicy</a></li>
    <li class="active">Dodaj</li>
</ol>

@using (Html.BeginForm("UsersAdd", "PWrInfo", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.surname)
        @Html.TextBoxFor(m => m.surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.repeatPassword)
        @Html.PasswordFor(m => m.repeatPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.isAdmin)
        @Html.DropDownListFor(m => m.isAdmin, new List<SelectListItem>()
        {
           new SelectListItem() { Text = "Tak", Value = "True" },
           new SelectListItem() { Text = "Nie", Value = "False"}
        }, new { @class = "form-control" })
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.unitName)
        <select id="departament" class="form-control">
            <option value="W1">W1 - Wydział Architektury</option>
            <option value="W2">W2 - Wydział Budownictwa Lądowego i Wodnego</option>
            <option value="W3">W3 - Wydział Chemiczny</option>
            <option value="W4">W4 - Wydział Elektroniki</option>
            <option value="W5">W5 - Wydział Elektryczny</option>
            <option value="W6">W6 - Wydział Geoinżynierii, Górnictwa i Geologii</option>
            <option value="W7">W7 - Wydział Inżynierii Środowiska</option>
            <option value="W8">W8 - Wydział Informatyki i Zarządzania</option>
            <option value="W9">W9 - Wydział Mechaniczno-Energetyczny</option>
            <option value="W10">W10 - Wydział Wydział Mechaniczny</option>
            <option value="W11">W11 - Wydział Podstawowych Problemów Techniki</option>
            <option value="W12">W12 - Wydział Elektroniki Mikrosystemów i Fotoniki</option>
            <option value="W13">W13 - Wydział Matematyki</option>
        </select>
    </div>
    <div class="login-wrapper-buttons">
        <button type="submit" class="btn btn-primary btn-lg">Dodaj</button>
        <button type="reset" class="btn btn-default btn-lg">Wyczyść</button>
    </div>
}