@using ProjektGlowny.Models
@model UserModels  
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Lista użytkowników zarejestrowanych w systemie.
</div>


<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Użytkownicy</a></li>
    <li class="active">Lista</li>
</ol>

<table class="table table-striped">
    <tr>
        <td>Imię </td>
        <td>Nazwisko</td>
        <td>Login</td>
        <td>Administrator</td>
        <td>Jednostka</td>

    </tr>
  @for (var i = 0; i < 3; i++)
    {
        <tr>
            <td>@Html.DisplayFor(m => m.name )</td>
            <td>@Html.DisplayFor(m => m.surname )</td>
            <td>@Html.DisplayFor(m => m.Login)</td>
            <td>@Html.DisplayFor(m => m.isAdmin)</td>
            <td>@Html.DisplayFor(m => m.unit)</td>
        </tr>
  }
</table>

<button type="button" class="btn btn-success btn-lg">
    <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj
</button>