@using ProjektGlowny.Models
@model DeansOfficesModel
@{
    ViewBag.Title = "Edycja dziekanatu";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Tutaj możesz zmienić dane dziekanatu.
</div>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dziekanaty</a></li>
    <li class="active">Edycja</li>
</ol>

@using (Html.BeginForm("DeansOfficesEdit", "DeansOffices", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.DisplayFor(m => m.Id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Department)
        @Html.DropDownListFor(m => m.selectedDepartmentId, new SelectList(Model.departmentsList, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OpeningHours)
        @Html.TextAreaFor(m => m.OpeningHours, new { style = "width: 70%; height: 100px;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdditionalInfo)
        @Html.TextAreaFor(m => m.AdditionalInfo, new { style = "width: 70%; height: 100px;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextAreaFor(m => m.Address, new { style = "width: 70%; height: 100px;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserId)
        @Html.DisplayFor(m => m.UserId, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Zapisz dane</button>
    <button type="reset" class="btn btn-default btn-lg">Wyczyść</button>
}
