@using ProjektGlowny.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<UserModels>

@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/PWrInfo/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="title-description">
    Lista użytkowników zarejestrowanych w systemie.
</div>


<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Użytkownicy</a></li>
    <li class="active">Lista</li>
</ol>

<form class="navbar-form navbar-left">
    <button type="button" onclick="location.href = '/Users/UsersAdd'" class=" btn btn-success">
        <i class="icon icon-data fa fa-plus" aria-hidden="true"></i> Dodaj
    </button>

    @using (Html.BeginForm("Users", "Users", FormMethod.Get))
    {
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <button type="submit" class="btn btn-default">
            <i class="icon icon-data fa fa-search" aria-hidden="true"></i> Szukaj
        </button>
    }
</form>

<table class="table table-striped">
    <tr>
        <td>@Html.ActionLink("ID", "Users", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter }) </td>
        <td>@Html.ActionLink("Imię", "Users", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }) </td>
        <td>@Html.ActionLink("Nazwisko", "Users", new { sortOrder = ViewBag.SurnameSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("Login", "Users", new { sortOrder = ViewBag.LoginSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("Administrator", "Users", new { sortOrder = ViewBag.IsAdminSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("Jednostka", "Users", new { sortOrder = ViewBag.UnitSortParm, currentFilter = ViewBag.CurrentFilter })</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.id)
            </td>
            <td>
                @Html.DisplayFor(m => item.name)
            </td>
            <td>
                @Html.DisplayFor(m => item.surname)
            </td>
            <td>
                @Html.DisplayFor(m => item.Login)
            </td>
            <td>
                @Html.DisplayFor(m => item.isAdmin)
            </td>
            <td>
                @Html.DisplayFor(m => item.unitName)
            </td>
            <td>
                <a href="@Url.Action("UsersEdit", "Users", new { id = item.id })" class="btn  btn-default">
                    <i class="icon icon-data fa fa-pencil" aria-hidden="true"></i>
                    <span class="button-text">Edytuj</span>
                </a>
                
            </td>
        </tr>

    }
</table>

<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Users",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))